<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><?php echo $page['title']; ?></title>
</head>
<body>
  Hola <?php echo $test; ?>
  <?php include("include.tpl"); ?>
</body>
</html>
